.app {
    overflow: none;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: $grey-100;

    &__page {
        overflow: auto;
        padding: 16px 10px;
        flex: 1;
    }
}
