.button {
    cursor: pointer;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--tertiary {
        background-color: $white;
        border: 0px;
        color: $blue-500;
    }
}
