.grid {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center;

        &__left {
            flex: 1;
            display: flex;
            flex-direction: row;

            &__title {
            }

            &__data-count {
                color: $grey-500;
                margin-left: 10px;
            }
        }

        &__right {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            &__filter {
                padding-right: 16px;
                border-right: 1px solid $grey-300;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &__sort {
                margin-left: 16px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    &__loading,
    &__error {
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;
    }

    &__error {
        &__refresh {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &__table {
        max-height: calc(100% - 60px);
        overflow: auto;
        box-shadow: 2px 0px 10px 5px $grey-100;
        margin-top: 10px;
        display: grid;
        background-color: white;
        border-radius: 5px;

        &--grid-8 {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        &__cell {
            padding: 10px;
            border-bottom: 1px solid $grey-300;
            gap: 5px;

            &:not(:nth-child(8n)) {
                border-right: 1px solid $grey-300;
            }

            &__label {
                &--number {
                    text-align: right;
                }
            }

            &--number {
                text-align: right;
            }

            &--header {
                font-weight: 700;
                position: sticky;
                top: 0px;
                background-color: $blue-200;
                display: flex;
                align-items: center;

                &:not(:nth-child(8)) {
                    border-right: 1px solid white;
                }

                &__label {
                    flex: 1;
                }
            }
        }
    }
}
