* {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

body {
    margin: 0;
    overflow: hidden;
}

h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

button,
input,
select {
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: $blue-500;
}
